@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
  --bg: #f0f0f5;
  --bg-light: #FFF;
  --border: #dcdce6;
  --highligt: #3470DA;
  --text: #737380;
  --text-bold: #41414d;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font: 400 18px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

h1 {
  color: var(--text)
}

form input{
  width: 100%;
  height: 60px;
  color: #333;
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 0 24px;
}

form textarea{
  width: 100%;
  resize: none;
  min-height: 200px;
  color: #333;
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;
}

.button{
  width: 100%;
  min-width: 60px;
  height: 60px;
  background: var(--highligt);
  border: 0;
  border-radius: 8px;
  color: var(--bg-light);
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
}

.button:hover{
  filter: brightness(90%);
}

.card-button {
  border: 0px;
  width: 100%;
  border: 0px;
  border-radius: 8px;
  color: var(--bg-light);
  font-weight: 700;
  margin-top: 16px;
  text-align: center;
  font-size: 18px;
  line-height: 60px;
  text-decoration: none;
  transition: filter 0.2s;
}

.card-button:hover{
  filter: brightness(90%);
}
